/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #e5ded5;
  --black: #000000;
  --blue: #5076b7;
  --orange: #f18e20;
  --violet: #764695;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Kodchasan", sans-serif;
  background-color: #e5ded5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.logo-footer {
  display: flex;
}

.contact {
  font-size: 20px;
}

.card {
  border: 2px solid #000000;
}

.container {
  padding: 2px 16px;
}

img {
  width: 15px;
  height: 15px;
}

#mes-temps {
  border-radius: 10;
}

#header-img {
  width: 373px;
  height: 82px;
}

#footer-img {
  width: 237px;
  height: 52px;
}
/* ====================================
// base rules
// ==================================== */
